.logoicon{
  width: 55px;
  height: 55px;
}

.marginleft{
  margin-left: 84px;
}

ngx-auth-firebaseui {
  .mat-tab-labels {
    display: flex;
    justify-content: space-between;
  }
  .mat-card {
    box-shadow: none !important;
  }
}



