.nb-category-list-item{
  cursor: pointer;
}
nb-action{
  i.shoppping_cart{
    font-size: 1.4rem;
    text-decoration: none;
    color: #a4abb3;
    margin-top: 5px;
  }
  
  i.favourite-products{
    font-size: 1.4rem;
    text-decoration: none;
    color: red;
    margin-top: 5px;
  }
}
.nb-search{
  font-size: 2rem;
}
.category-item-wrapper{
  margin: 5px 0px 5px 5px;
}
.category-item{
  margin-left: 50px;
}
.nb-theme-default nb-sidebar .scrollable{
  padding: 0%;
}
.toggle{
  font-size: 1.2rem; 
  text-decoration: none;
  cursor: pointer;
}

.logoicon{
  width: 55px;
  height: 55px;
}

.marginleft{
  margin-left: 67px;
}

// :host ::ng-deep nb-layout-column {
//   height: 50vw;
//   background: #f4f4f7;
// }