<nb-layout>

  <nb-layout-header fixed>
    <a (click)="toggle()" class="toggle">
      <fa-icon [icon]="['fas', 'bars']"></fa-icon>
    </a>
    <div class="marginleft">
      <a routerLink="/">
        <img class="logoicon" src="../../../assets/images/logoIcon.png" alt="Home">
      </a>
    </div>
    <nb-actions size="small" class="ml-auto">
      <nb-action><nb-search type="rotate-layout"></nb-search></nb-action>
      <nb-action><i class="nb-e-commerce"></i></nb-action>
      <nb-action>
        <a routerLink="/admin">
          <nb-user size="small" name="John Doe" title="Admin"></nb-user>
        </a>
      </nb-action>
    </nb-actions>
  </nb-layout-header>

  <nb-sidebar tag="left" responsive>

    <nb-list class="overflow-hidden">
      <nb-list-item class="nb-category-list-item" (click)="onAllCategories()">
          <div class="category-item-wrapper">
            <fa-icon [icon]="['fas', 'crown']"></fa-icon>
            <span class="category-item">Altogether</span>
          </div>
      </nb-list-item>
      <nb-list-item class="nb-category-list-item" *ngFor="let category of categories | async" (click)="onCategory(category.name)">
        <div class="category-item-wrapper">
          <fa-icon [icon]="['fas', category.icon]"></fa-icon>
          <span class="category-item">{{ category.name }}</span>
        </div>  
      </nb-list-item>
    </nb-list>

  </nb-sidebar>

  <nb-layout-column>
    
    <!-- <router-outlet></router-outlet> -->
    <app-carousel *ngIf="displayCarousel"></app-carousel>
  
    <product-list [categoryName]="selectedCategory"></product-list>

  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
