.nb-category-list-item{
  cursor: pointer;
}
.category-item-wrapper{
  margin: 5px 0px;
}
.category-item{
  margin-left: 50px;
}
.nb-theme-default nb-sidebar .scrollable{
  padding: 0%;
}
.toggle{
  font-size: 1.2rem; 
  text-decoration: none;
}