<div class="carousel__wrapper">
  <carousel>
    <slide>
      <img class="carousel_img" src="../../../assets/images/carousel/11.jpg" alt="first slide">
    </slide>
    <slide>
      <img class="carousel_img" src="../../../assets/images/carousel/22.png" alt="second slide">
    </slide>
    <slide>
      <img class="carousel_img" src="../../../assets/images/carousel/33.png" alt="third slide">
    </slide>
    <slide>
      <img class="carousel_img" src="../../../assets/images/carousel/44.jpg" alt="fourth slide">
    </slide>
    <slide>
      <img class="carousel_img" src="../../../assets/images/carousel/55.jpg" alt="fifth slide">
    </slide>
  </carousel>
</div> 
