<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

  <h1 mat-dialog-title>Checkout</h1>
  
  <div mat-dialog-content>
    <p>Fill out order details</p>

    <input type="number" class="mb-1" nbInput fullWidth fieldSize="small" placeholder="Phone" formControlName="phone">
    <input type="email" class="my-1" nbInput fullWidth fieldSize="small" placeholder="Email" formControlName="email">
    <input type="text" class="my-1" nbInput fullWidth fieldSize="large" placeholder="Address" formControlName="address">
  </div>

  <div mat-dialog-actions class="float-right">
    <button 
    type="button"
    nbButton 
    status="danger"
    size="xsmall"
    class="m-1"
    (click)="onCancel()">Cancel</button>

    <button 
    type="submit"
    nbButton 
    status="success"
    size="xsmall"
    class="m-1"
    [disabled]="!checkoutForm.valid">Order</button>
  </div>
</form>